NFCU/TestIdm/TestIdm/Servers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://servers">
  <xs:element name="ServerConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="environments">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="environment">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="services">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="service">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="nodes">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="node">
                                        <xs:complexType>
                                          <xs:attribute name="host" type="xs:string" use="required" />
                                          <xs:attribute name="port" type="xs:unsignedShort" use="required" />
                                          <xs:attribute name="usessl" type="xs:boolean" use="required" />
                                          <xs:attribute name="datacenter" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="vip">
                                  <xs:complexType>
                                    <xs:attribute name="host" type="xs:string" use="required" />
                                    <xs:attribute name="port" type="xs:unsignedShort" use="required" />
                                    <xs:attribute name="usessl" type="xs:boolean" use="required" />
                                    <xs:attribute name="datacenter" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>